<div class="container">
  <div class="row">
    <div class="col-lg">
      pipes <br>
      {{title | uppercase}} uppercase<br>
      {{title | lowercase}} lowercase<br>
      {{title | json}} jason<br>
      {{price | currency:'USD':true}} currency
      <h1>Template Syntax</h1>
      <a href="#mental-model">Mental Model</a><br>
      
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
       
      <h2 id = "mental-model"> New Mental Model </h2>
      <button disabled> disabled save</button> <br>
      <button [style.color]="isSpecial ? 'red' : 'green'">color changed button</button>
    
      

    </div>
  </div>
</div>




