<div class="div">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/templ" routerLinkActive="active">Template Syntax</a>
    </li>
    <li class="nav-item dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" [attr.aria-haspopup]="haspop" [attr.aria-expanded]="expan">Dropdown</button>
      <div class="dropdown-menu" >
        <li> <a class="dropdown-item" routerLink="/second-page">displaying detail(child) compoent with 2 way binding(only used input)</a> </li>
        <li> <a class="dropdown-item" routerLink="/second-page-2">parent-child component with input, output, eventemitter</a> </li>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>